body {
    margin: 0;
    font-family: "Tahoma" , sans-serif;
    background-color: #f3f3f3;
}
.btn {
    color: white;
    background-color: black;
    border-radius: 12px;
    cursor: pointer;
    padding: 5px 5px;
     }
.btn:hover {
    color: black;
    background-color: #f3f3f3;
}
.lnk {
    color: aqua;
    background-color: green;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    padding: 5px 5px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    }